

header{
     width: 100vw; 
    height: 200px;
   /* border: 1px solid black;*/
    display: flex;
    justify-content: center;
    align-items:center ;
}
.logo-header {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-size:  20px;
    line-height: 28px;
    color: #161412;
}
.container-header{
    width:  90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar{
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    margin: 0 20px;
    padding: 0;
    font-family: 'Karla', sans-serif;
    color: #161412;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.88px;
}

.navbar ul li a:hover{
  color: #F4F4F2;
}

@media (max-width:698px) {
    .container-header {
        flex-direction: column;
    }
}

@media (max-width: 414px){
    .navbar ul {
        flex-direction: column;
        margin-top: 50px;
    }
}