.box-card{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 420px;
    width: 33%; 
}

.img{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width:232px;
    height: 264px;
    object-fit: contain;
}